<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')" *ngIf="shouldRun">
	<mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
	<mat-toolbar color="primary">
	  <mat-toolbar-row>
	    <span><button mat-button (click)="close('toggle button')">Toggle</button></span>
	  </mat-toolbar-row>
	</mat-toolbar>
	</mat-sidenav>

	<mat-toolbar color="primary">
		<mat-toolbar-row>
			 <button mat-raised-button color="accent" (click)="sidenav.open()">Open</button>
			<!-- <span><button (click)="sidenav.open()">Open</button></span> -->
		</mat-toolbar-row>
	</mat-toolbar>

	<div class="button-row">
  <a routerLink="/login"><button mat-raised-button color="primary">Sign In</button></a>
  <a routerLink="/register"><button mat-raised-button color="accent">Sign Up</button></a>
  </div>
<router-outlet></router-outlet>
<app-heroes></app-heroes>
</mat-sidenav-container>
<div *ngIf="!shouldRun">Please open on Stackblitz to see result</div>
